# =====================
# Visual Studio / .NET
# =====================
.vs/
bin/
obj/
*.user

# =====================
# Node / Angular
# =====================
node_modules/
dist/

# =====================
# OS junk
# =====================
.DS_Store
Thumbs.db
